
.icon-left-big:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
